<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.ssafy.homebackend.mapper.BoardQnAMapper">
	<insert id="insert" parameterType="com.ssafy.homebackend.vo.Board">
		insert into qboard (id, title, contents) 
		values (#{id}, #{title}, #{contents})	
	</insert>
</mapper>



