<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.ssafy.homebackend.mapper.BoardQnAMapper">
	<insert id="insert" parameterType="com.ssafy.homebackend.vo.Board">
		insert into qboard (id, title, contents) 
		values (#{id}, #{title}, #{contents})	
	</insert>
	
	<select id="selectAll" resultType="com.ssafy.homebackend.vo.Board">
		select *
		from qboard 
		order by articleId desc;
	</select>
	
	<select id="selectOne" parameterType="Integer" resultType="com.ssafy.homebackend.vo.Board">
		select *
		from qboard 
		where articleId = #{articleId}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="addCount" parameterType="Integer">
		update qboard set
		count = count+1
		where articleId = #{articleId}
	</update>
	
	<select id="getComments" parameterType="Integer" resultType="com.ssafy.homebackend.vo.Comment">
		select commentId, qboard_articleId as articleId, user_id as id, contents, date 
		from comments 
		where qboard_articleId = #{articleId} order by date asc;
	</select>
	
	<!-- 이전 글의 id -->
	<select id="getPrevId" parameterType="Integer" resultType="Integer">
		select 
		prevId
		from
			(
			select 
			articleId,
			lag(articleId, 1, -1) over(order by articleId) as prevId
			FROM qboard
			) as prev
		where articleid = #{articleId};
	</select>
	
	<!-- 이후 글의 id -->
	<select id="getNextId" parameterType="Integer" resultType="Integer">
		select 
		nextId
		from
			(
			select 
			articleId,
			lead(articleId, 1, -1) over(order by articleId) as nextId
			FROM qboard
			) as next
		where articleid = #{articleId};
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from qboard 
		where articleId = #{articleId}
	</delete>
	
	<update id="update" parameterType="com.ssafy.homebackend.vo.Board">
		update qboard set
		title = #{title},
		contents = #{contents}
		where articleId = #{articleId}
	</update>
	
	<insert id="writeComment" parameterType="com.ssafy.homebackend.vo.Comment">
		insert into comments (qboard_articleId, user_id, contents) 
		values (#{articleId}, #{id}, #{contents})
	</insert>
	
	<delete id="deleteComment" parameterType="com.ssafy.homebackend.vo.Comment">
		delete from comments
		where qboard_articleId = #{articleId} 
		and commentId = #{commentId} 
	</delete>
</mapper>



