<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.ssafy.homebackend.mapper.SearchHouseMapper">
	<select id="searchAreaList" parameterType="String" resultType = "SearchIdName">
		select 
		dongCode as id, 
		concat(sidoName, ' ', gugunName, ' ', dongName) as name
		from 
		dongcode
		where 
		concat(sidoName, ' ', gugunName, ' ', dongName) like concat('%', #{searchWord}, '%');
	</select>
	
	<select id="searchAptList" parameterType="String" resultType = "SearchIdName">
		select aptCode as id, apartmentName as name
		from houseinfo 
		where apartmentName like concat('%', #{searchWord} , '%');
	</select>
	
	<!-- TODO : searchOfiList --> 
	<!-- TODO : searchVilList --> 
	
	<select id="getDongAptList" parameterType="String" resultType = "SearchIdName">
		select aptCode as id, apartmentName as name 
		from houseinfo 
		where dongCode = #{dongcode};
	</select>
	
	<!-- TODO : getDongOfiList --> 
	<!-- TODO : getDongVilList --> 
</mapper>



