<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.ssafy.homebackend.mapper.UserMapper">
	<resultMap id="User" type="com.ssafy.homebackend.vo.User">
		<id column="id" property="id"/>
	    <result column="pw" property="pw"/>
	    <result column="name" property="name"/>
	    <result column="email" property="email"/>
	    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" javaType="java.lang.String"/>
	    <result column="is_broker" property="isBroker" jdbcType="TINYINT" javaType="boolean"/>
	    <result column="is_admin" property="isAdmin" jdbcType="TINYINT" javaType="boolean"/>
	</resultMap>

	<select id="selectAllUser" resultMap = "User">
		select * from user
	</select>
	
	<insert id="register" parameterType="User">
		insert into user (id, pw, name, email, is_broker, is_admin) 
		values (#{id}, #{pw}, #{name}, #{email}, #{isBroker}, 0)
	</insert>
	
	<delete id="deleteAccount" parameterType="String">
		delete from user 
		where id = #{id}	
	</delete>
	
	<update id="modifyAccount" parameterType="User">
		update user set
		pw = #{pw},
		name = #{name},
		email = #{email}
		where id = #{id}		
	</update>
	
	<select id="login" resultMap = "User">
		select * 
		from user
		where id = #{id} and pw = #{pw}
	</select>
	
	<update id="saveRefreshToken" parameterType="Map">
		update user	set 
		token = #{token}
		where id = #{id}
	</update>
	
	<update id="deleteRefreshToken" parameterType="Map">
		update user set
		token = #{token, jdbcType=VARCHAR}
		where id = #{id}
	</update>
	
	<select id="getRefreshToken" parameterType="String" resultType = "String">
		select token
		from user
		where id = #{id}
	</select>
</mapper>



